@charset 'utf-8';

/**
 * body
 */
body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue',
    Arial,
    'Hiragino Kaku Gothic ProN',
    'Hiragino Sans',
    Meiryo,
    sans-serif;
}

/**
 * container
 */
.container {
    padding: 20px;
}

/**
 * form
 */
.form__row--reverse {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.form__row--between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form__btn {
    display: inline-block;
    padding: 6px 12px;
    border: 1px solid transparent;
    border-color: #007bff;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    user-select: none;
    &:hover {
        border-color: #0062cc;
        background-color: #0069d9;
        cursor: pointer;
    }
    &:focus,
    &:active {
        outline: 0;
        box-shadow: 0 0 3px 3px rgba(0, 123, 255, .5);
    }
}
.form__text {
    margin: 0;
    padding: 0;
}
.form__search {
    margin-top: 20px;
}
.form__checkbox {
    position: absolute;
    opacity: 0;
    appearance: none;
}
.form__label {
    position: relative;
    display: block;
    padding-left: 36px;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMwMDk0ZGQiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48cmVjdCB4PSIzIiB5PSIzIiB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHJ4PSIyIiByeT0iMiI+PC9yZWN0Pjwvc3ZnPg==');
    background-position: left center;
    background-size: 24px;
    background-repeat: no-repeat;
    line-height: 44px;
    cursor: pointer;
    &::after {
        position: absolute;
        top: 50%;
        left: 4px;
        display: block;
        margin-top: -8px;
        width: 16px;
        height: 16px;
        background-size: contain;
        background-repeat: no-repeat;
        content: '';
    }
    .form__checkbox:checked + & {
        &::after {
            background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMwMDk0ZGQiIHN0cm9rZS13aWR0aD0iMyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48cG9seWxpbmUgcG9pbnRzPSIyMCA2IDkgMTcgNCAxMiI+PC9wb2x5bGluZT48L3N2Zz4=');
        }
    }
    .form__checkbox:focus + &,
    .form__checkbox:active + & {
        &::after {
            box-shadow: 0 0 3px 3px rgba(0, 148, 228, .5);
        }
    }
}
.is-indeterminateEnabled .form__checkbox:indeterminate {
    + .form__label::after {
        background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMwMDk0ZGQiIHN0cm9rZS13aWR0aD0iMyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48bGluZSB4MT0iNSIgeTE9IjEyIiB4Mj0iMTkiIHkyPSIxMiI+PC9saW5lPjwvc3ZnPg==');
        opacity: .5;
    }
}

/**
 * list
 */
.list {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    list-style: none;
}
.list__nested {
    margin: 0 0 0 30px;
    padding: 0;
    list-style: none;
}
.list__clickable {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0 0 0 15px;
    height: 44px;
    cursor: pointer;
}
.list__line::after {
    position: absolute;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 1px;
    background-color: #eee;
    content: '';
}
