<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NestedCheckbox</title>
    <link rel="stylesheet" href="/css/top/index.css">
</head>
<body>
    <div id="j-nestedCheckbox">
        <ul class="listGroup">
            <%- include('partial/list', { list }); %>
        </ul>
        <p><span id="j-searchResult">0</span>件</p>
    </div>
    <script src="/js/TopController.js"></script>
    <script>
        (function() {
            var topController = new TopController();

            topController.init();
        }());
    </script>
</body>
</html>