<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NestedCheckbox</title>
    <link rel="stylesheet" href="/css/top/index.css">
</head>
<body>
<div class="container">
    <h1>Nested Checkbox</h1>
    <form action="/" id="j-form" class="form">
        <div class="form__group form__row--reverse">
            <input type="checkbox" id="j-indeterminate" class="form__checkbox">
            <label for="j-indeterminate" class="form__label">indeterminate</label>
        </div>
        <div class="form__group">
            <ul id="j-nestedCheckbox" class="list">
                <%- include('partial/list', { list }); %>
            </ul>
        </div>
        <div class="form__group form__row--between form__search">
            <p class="form__text"><span id="j-searchResult">0</span>件</p>
            <button type="submit" class="form__btn">Submit</button>
        </div>
    </form>
    <script src="/js/TopController.js"></script>
    <script>
        (function() {
            var topController = new TopController();

            topController.init();
        }());
    </script>
</div>
</body>
</html>