<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NestedCheckbox</title>
    <link rel="stylesheet" href="/css/top/index.css">
</head>
<body>
    <form id="j-nestedCheckbox" class="form">
        <div class="form__group">
            <ul class="list">
                <%- include('partial/list', { list }); %>
            </ul>
        </div>
        <div class="form__group">
            <p class=""><span id="j-searchResult">0</span>件</p>
        </div>
        <div class="form__group">
            <input type="checkbox" id="j-indeterminate" class="form__checkbox">
            <label for="j-indeterminate" class="form__label">indeterminate</label>
        </div>
    </form>
    <script src="/js/TopController.js"></script>
    <script>
        (function() {
            var topController = new TopController();

            topController.init();
        }());
    </script>
</body>
</html>